name: "Build project and run tests"

on: [push]

jobs:
  test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v1

    - uses: maierj/fastlane-action@v1.4.0
      with:
        lane: 'test'

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1

